*{
    margin: 0;
    box-sizing: border-box;
    
}

.navbar, .register{
    background-color: #ef662e!important;
    color: white;
}

.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}


body>footer{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #ebd7c6;
    align-items: center;
    position: fixed;
    bottom: 0;
   width: 100vw;
   
   margin-right: 2em;
}

footer div.left-footer{
    width: 20vw; 
    margin-left: 2em;
   
}
footer.div.mid-footer{
    width: 60vw;
}

footer div.right-footer{
    display: flex;
    justify-content:flex-end;
    width: 20vw; 
    margin-right: 2em;
    
    
}
.mid-footer>a{
    margin-left: 1em;
    margin-right: 1em;
}


main{
    font-size: 0.8em;
    display: flex;
    width: 100vw;
    justify-content: center;
}

main>div.mainContent{
    width: 80vw;
    height: 100vh;
}


.buttons{
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}
.buttons button{
    margin-left: 1em;
}
h1,h2,h3 {
    color: black !important;
}
section>h3{
    font-size: 1.25em;
}
#fairfieldcity{
    height: 30vh;
    width: 80vw;
}
.contentBox{
    display: flex;
}

.aboutUs{
    width: 33.33vw;
    padding-top: 2em;
    padding-right:1em;
}

.programandcourses{
    width: 33.33vw;
    padding-top: 2em;
    
}

.trainTimes{
    width:33.33vw;
    padding-top:2em ;
}

section>h2{
    font-size: 13pt
}
.row{
    margin-top: 1.5em;
}

.welcomeText{
    font-size: 2em;
}
.grey{
    background-color: #ebd7c6;
}

.form-group-label{
font-size: 1.25em;
font-weight: bold;
}

.faded{
    opacity: 70%;
}