h1{
    text-align: center;
}
.profileimage{
    margin: auto;
    display: block;
    align-self: center;
    border-radius: 50%;
}
nav>ul{
    list-style-type: none;
    display: flex;
}
nav>ul>li{
    margin: 5px;
}