.nav-item{
    margin-left: 40px;
    margin-right:0px;
    padding-left:50px;
    padding-right: 20px;
    border-left: 1px solid #bdaeae;
}

.hello-text{
    margin-right: 40px;
    color: white;
}
.btn-signout{
    border: 1px solid rgb(221 199 199);
    border-radius: 5px;
    height: 40px;
    width: 100px;
}